.post-detail {
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;
    margin-top: 20px;
    padding-bottom: 100px;
}

.post-detail-leftsidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
    align-items: center;
    gap: 20px;
}

.post-detail-leftsidebar>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.post-detail-content {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    margin-left: 100px;
}

.post-detail-content>div {
    padding-inline: 30px;
}

.post-detail-content--background {
    width: 100%;
}

.post-detail-content--background>img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.post-detail-author--background {
    width: 100%;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
}
.post-detail-author--background >img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.post-detail-content--title_tag {
    display: flex;
    gap: 10px;
}

.post-detail-content--author {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-inline: 30px;
    gap: 10px;
}

.post-detail-content--authordesc {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 5px;
}

.post-detail-content--authordesc>p {
    text-decoration: none;
    color: black;
}

.post-detail-content--authordesc>h3 {
    text-decoration: none;
    color: black;
}

.post-detail-content--body>p {
    font-size: 1.25rem;
    line-height: 30px;
}

.post-detail-author {
    width: 550px;
    height: 500px;
    margin-right: 20px;
    background-color: white;
    border-radius: 5px;
}

.post-detail-author>div {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-detail-author--info {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    gap: 20px;
}

.post-detail-author--info>img {
    position: absolute;
    top: -20px;
}

.post-detail-author--info>h2 {
    position: absolute;
    text-decoration: none;
    color: black;
    left: 100px;
    top: 10px;
}

.post-detail-author>div>button {
    background-color: rgb(59, 73, 223);
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.post-detail-author--info_introduction {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    gap: 10px;
}

.post-detail-author--info_introduction>p {
    display: flex;
    align-items: center;
    gap: 5px;
}
.post-detail-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.post-detail-comments--userinput{
    display: flex;
    align-items: center;
    gap: 10px;
}
.post-detail-comments--userinput > form{
    width: 100%;
    height: 50px;
}
.post-detail-comments--userinput > form > input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(139, 137, 137);
    padding-inline: 20px;
}