.edit-comment-box{
    position: absolute;
    right: 0;
    top: 35px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
}
.edit-comment-box > p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    opacity: 1;
    transform: scale(1);
    transition: 0.3s ease-in-out opacity,
                0.2s ease-in-out transform;
}
.edit-comment-box > p:hover{
    opacity: 0.5;
}
.edit-comment-box > p:active{
    transform: scale(0.5);
}
.edit-comment-box:hover{
    cursor: pointer;
}