.postlist{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
}
.post-notfount{
    text-align: center;
}

@media (min-width: 660px) and (max-width: 1260px){
    @media (max-width: 800px){
        .post-detail-author{
            display:none
        }
        .post-detail-content{
            margin-right: 20px;
        }
    }
    .post-detail-leftsidebar{
        width: 60px !important;
    }
    .post-detail-content{
        margin-left: 60px !important;
    }
}

@media (min-width: 320px) and (max-width: 660px){
    .postlist{
        margin-inline: 10px;
        margin-top: 100px;
    }
    .post-detail-author{
        display:none
    }
    .post-detail-leftsidebar{
        display: none !important;
    }
    .post-detail-content{
        margin-inline: 10px !important;
    }
}