@import url(../../variable.css);

.header {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    border-bottom: 1px solid black;
}

.header__leftcontent {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.header__leftcontent>form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid var(--secondary-font-color);
    border-radius: 5px;
    padding: 5px 10px;
    height: 40px;
    gap: 5px;
}

.header__leftcontent>form>input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header__leftcontent>form>input::placeholder {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header__leftcontent>form>span {
    font-size: 30px;
}

.header__rightcontent {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__rightcontent>a {
    text-decoration: none;
    color: var(--secondary-font-color)
}

.header__rightcontent>button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
}