.post-detail-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    gap: 25px;
}
.post-detail-comments--userinput{
    display: flex;
    align-items: center;
    gap: 10px;
}
.post-detail-comments--userinput > form{
    width: 100%;
    height: 50px;
}
.post-detail-comments--userinput > form > input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(139, 137, 137);
    padding-inline: 20px;
}
.post-detail-comments--list--nocommentinit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}