.post-detail-comments{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    gap: 25px;
}
.post-detail-comments--list--nocommentinit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}