.userprofile{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.userprofile--header{
    width: 100%;
    height: 350px;
    background-color: black;
}
.userprofile--header > img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.userprofile--body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.userprofile--bodycontent{
    max-width: 1000px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -150px;
}
.userprofile--bodycontent--header{
    display: flex;
    justify-content: space-between;
    height: 170px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 5px;
}
.userprofile--bodycontent--header--user{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.userprofile--bodycontent--header--user > img{
    border-radius: 50%;
    position: relative;
    top: -55px;
}
.userprofile--bodycontent--header > button{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(59, 73, 223);
}
.userprofile--bodycontent--body{
    display: flex;
    padding-bottom: 100px;
    gap: 20px;
}
.userprofile--bodycontent--body-leftcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
.userprofile--bodycontent--body-leftcontainer--description{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
}
.userprofile--bodycontent--body-leftcontainer--description > p{
    display: flex;
    align-items: center;
    gap: 5px;
}
.userprofile--bodycontent--body-leftcontainer--info{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
}
.userprofile--bodycontent--body-leftcontainer--info > p{
    display: flex;
    align-items: center;
    gap: 5px;
}