@import url(../../variable.css);

.tagsidebar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tagsidebar-item{
    height: 40px;
    padding: 5px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 5px;
    color: black;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out;
}
.tagsidebar-item > p{
    white-space: nowrap;
    font-size: 1rem;
}
.tagsidebar-item:hover{
    background-color: var(--bg-hover);
    color: white;
    cursor: pointer;
}
.tagsidebar > span{
    display: none;
}
@media (min-width: 660px) and (max-width: 1260px){
    
}

@media (min-width: 320px) and (max-width: 660px){
    .tagsidebar{
        position: fixed;
        flex-direction: row;
        padding-inline: 10px;
        width: 100vw;
        top: 60px;
        background-color: white;
        margin-top: 0px;
        border-bottom: 1px solid black;
    }
    .tagsidebar > div{
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
    }
}